{% extends "base.html" %}

{% block title %}Signup{% endblock title %}

{% block content %}

<div class="container min-vh-70 d-flex align-items-center justify-content-start">
    <div class="row">
        <div class="col">
            <div class="align-items-center">
                <h2>Signup</h2>
            </div>
            <form class="mt-4" method="post">
                {% csrf_token %}
                {{ signup_form.as_p }}
                <button type="submit" class="mt-4 mx-1 btn btn-outline-primary">Signup</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
