@import './fonts.css';

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #CCCBFD;
$secondary: #D9FE96;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.vh-90 {
    height: 90vh;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .15rem;
}


.logout-link {
cursor: pointer;
}

.logout-link:hover {
cursor: pointer;
}

.navbar-brand {
    font-family: 'SantaRosa', sans-serif !important;
    font-size: 2rem;
}

.nav-item.dropdown .dropdown-menu {
position: absolute;
}

.dropdown-menu {
transform: translateX(-50%);
}
