$primary: #F9C553;
$secondary: #F9C553;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-secondary: #AF8D46;
  --bs-primary: #F9C553;
  --bs-tertiary: #AF8D46;
}

.vh-90 {
  height: 90vh;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .15rem;
}

.logout-link, .logout-link:hover {
  cursor: pointer;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--bs-primary) !important;
  font-size: 2.25rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--bs-tertiary) !important;
  font-size: 1.25rem;
}

h5 {
  font-family: "Inter", sans-serif;
  color: var(--bs-primary) !important;
  font-size: x-large;
  font-weight: 600;
  font-size: 1.35rem;
  text-transform: uppercase;
}


.custom-nav-link {
  color: var(--bs-secondary);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
}

.nav-item.dropdown .dropdown-toggle, .nav-link, h1 {
  color: var(--bs-primary);
}

.nav-item.dropdown .dropdown-menu {
  position: absolute;
}


.dropdown-menu {
  transform: translateX(-50%);
}

.heart-icon {
  transition: transform 0.2s ease-in-out;
}

.heart-icon.liked {
  color: var(--bs-tertiary);
  transform: scale(1.2);
}

.pagination button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.pagination button:active, .pagination button:focus {
  outline: none;
  box-shadow: none;
}

.card, .borderless-card, .card-solid {
  color: $white;
  border: none;

}

a {
  color: var(--bs-secondary);
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background-color: var(--bs-secondary);
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.no-underline::after, .no-underline:hover::after {
  content: none;
}

body {
  background-color: #101010;
}

.badge {
  background-color: var(--bs-tertiary);
  color: var(--bs-black);
  font-size: 1rem;
  font-weight: 500;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
