@import './fonts.css';


$primary: #9A81D1;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-primary: #9A81D1;
}

.vh-90 {
  height: 90vh;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .15rem;
}

.logout-link, .logout-link:hover {
  cursor: pointer;
}

.navbar-brand {
  font-family: 'sp-blunt-regular', sans-serif !important;
  color: var(--bs-primary) !important;
  font-size: 2.25rem;
  margin-left: 1rem;
}

h5 {
  font-family: 'sp-blunt-regular', sans-serif !important;
  color: var(--bs-primary) !important;
}

.custom-nav-link {
  color: var(--bs-primary);
  font-family: 'sp-blunt-regular', sans-serif !important;
  font-size: 1rem;
}

.nav-item.dropdown .dropdown-toggle, .nav-link, h1 {
  color: var(--bs-primary);
}

.nav-item.dropdown .dropdown-menu {
  position: absolute;
}


.dropdown-menu {
  transform: translateX(-50%);
}

.heart-icon {
  transition: transform 0.2s ease-in-out;
}

.heart-icon.liked {
  color: var(--bs-primary);
  transform: scale(1.2);
}

.pagination button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.pagination button:active, .pagination button:focus {
  outline: none;
  box-shadow: none;
}

.card, .borderless-card, .card-solid {
  color: $white;
  border: none;

}

a {
  color: var(--bs-primary);
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background-color: var(--bs-primary);
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.no-underline::after, .no-underline:hover::after {
  content: none;
}

body {
  background-color: #101010;
}
